
extend layout
block content
 div.article-detail-container
  div.article-detail-inner
   - var content = data.article_detail.content || "";
   - var title = data.article_detail.title || "";
    article
     h1.title #{title}
     p.publish-info 
      span.time 
     p#articleContent.article-content #{content}
    section.comment-section
     div.comment-wrapper
      img(src="/images/dw-author.png").icon
      textarea.comment-input#comment-content
      - var navId = data.article_detail.navId || "";
      - var categoryId = data.article_detail.categoryId || "";
      - var articleId = data.article_detail.articleId || "";
      div.commit-btn-wrapper
        button(type='button' navId="#{navId}" categoryId="#{categoryId}" articleId="#{articleId}").btn.btn-primary#publishComment 发表看法
     - if(data.article_detail.comment)
      div.comment-list-wrapper
       - var comment = data.article_detail.comment;
       - each comm in comment
        div.comment-list-item
         div.user-wrapper
          img(src="/images/user-128.png").user-icon
          div.info
           h3 #{comm.username} 
           p #{comm.publishTime}
          p #{comm.content}
    //- - var article_detail = JSON.parse(JSON.stringify(data.article_detail));
    div(total="#{data.commentTotal}" )#commentPaging.paging