extends layout
block content 
    div.carousel.slide#carouselRecommendIndicators.recommend(data-ride="carousel")
        ol.carousel-indicators
            - const recommend = data.recommend
            each item,index in recommend
                li(data-target="#carouselRecommendIndicators" data-slide-to=index class=index === 0 ? 'active' : '')
        div.carousel-inner
                each item,index in recommend
                    a(href="/articles/detail/" + item._id).carousel-item(data-interval=(index + 1) * 1000 class=index === 0 ? 'active' : '')
                        img(src=item.recommendPicture, alt="" ).d-block.w-100
        button.carousel-control-prev(type="button" data-target="#carouselRecommendIndicators" data-slide="prev")
            span.carousel-control-prev-icon(aria-hidden="true")
            span.sr-only Previous
        button.carousel-control-next(type="button" data-target="#carouselRecommendIndicators" data-slide="next")
            span.carousel-control-next-icon(aria-hidden="true")
            span.sr-only Next
    section.hot.container.module
        h3.headline 最近的动态
        p 如果他感到痛苦，他将被视为无助。他和他一起生活的孩子们住在一起。
        div.row
            - const recently = data.recently || []
                each item in recently
                    div.col-md-4
                        article.card
                            img.card-img-top(src="/" + item.illustration, alt="", srcset="")
                            div.card-body
                                h5.card-title=item.title
                                p.card-text.mb-3=item.description
                                a(href="/articles/detail/" + item._id).btn.btn-primary.btn-theme 查看我
    section.visitor.container.module
         div.inner
            div.row
                article.col-4
                    div.card
                        div.card-body
                            h5.card-title 
                                i.counter 1500
                                span.plus +
                            p.card-text.mb-3.visitor-title 今日访客
                            p.card-text.mb-3 今日的访客数量
                 article.col-4
                    div.card
                        div.card-body
                            h5.card-title 
                                i.counter 1500
                                span.plus +
                            p.card-text.mb-3.visitor-title 昨日访客
                            p.card-text.mb-3 昨日的访客数量
                 article.col-4
                    div.card
                        div.card-body
                            h5.card-title 
                                i.counter 1500
                                span.plus +
                            p.card-text.mb-3.visitor-title 一周访客
                            p.card-text.mb-3 最近一周的总访问数量
    section.message-board.module
        h3.headline 踩一踩
        p 一片绿叶,饱含着它对根的情谊;一句贺词,浓缩了我对你的祝愿,祝成功和快乐永远伴随着你 ,祝朋友幸福永远! 
        div.container
            div.row
                div.col-md-6.board-item
                    h5 作者信息
                    p.mt-3 
                        i.icon.iconfont.icon-navigation
                        span.ml-1 坐标: 湖北武汉
                    p.mt-3 
                        i.icon.iconfont.icon-email
                        span.ml-1 934725772@qq.com
                div.col-md-6.board-item
                    h5 提交一条留言
                    form(action="/board/save" method="post").form-group.mt-3
                        div.row
                            div.col-sm-6 
                                input(type="text" placeholder='用户名' name="username").form-control
                            div.col-sm-6 
                                input(type="text" placeholder='邮箱' name="emal").form-control
                        div.row.mt-3
                            div.col-sm-12 
                                input(type="text" placeholder='标题' name="title").form-control
                                div.mt-3
                                    textarea( cols="60" placeholder='请输入内容' name="content").form-control 
                        button.btn.btn-theme 发送
block append script 
    script(src="/js/index.js") 