div.wrapper.clearfix
    div.caption
        h3 #{intro.title}
        h2 #{intro.slogan}
        p #{intro.intro}
    div.show
        h2 #{intro.headLine}
        div.wrapper
            each theme in intro.themes || []
                span
                    img(src="#{theme.topicMap}", alt="" width="164.5px" height="100px")