div.wrapper.clearfix
    div.caption
        h3 #{intro.title}
        h2 #{intro.caption}
        p #{intro.description}
    div.show
        h2 #{intro.headLine}
        div.wrapper
            each spe in special
                span
                    img(src="#{spe.homeFigure}", alt="")