ul#panelWrapper
    li(panel-item-type=0) 名称
      ul
        each nav,navIndex in navs
          li(panel-item-type=1 navId="#{nav._id}").panel-item #{nav.name}
            ul
              each category in nav.categories
                li.category-item(navId="#{nav._id}" categoryId="#{category._id}" panel-item-type=2) #{category.name}   
  