extends ./../layout.jade
block append stylesheet 
    link(rel="stylesheet", href="/lib/kendo.common.min.css")
    link(rel="stylesheet", href="/lib/bs-table.css")
    link(rel="stylesheet", href="/lib/kendo.default.min.css")
    link(rel="stylesheet", href="/lib/kendo.bootstrap.min.css")
    link(rel="stylesheet", href="/lib/kendo.common-bootstrap.min.css")
    link(href="/styles/iframe.css" rel="stylesheet")
    link(href="/styles/articles.css" rel="stylesheet")
block content
    div.container-fluid.container-card
        //- include ./../components/toolbar
        div.table-data#articlesDataTable
            table.table-striped(
             data-toggle="table" 
             data-query-params="formateQueryParams"
             data-search="true"
             data-page-list="[5, 10, 20, 50]"
             data-side-pagination="server"
             data-page-size="5"
             data-pagination="true"
             data-class="table-column"
             data-url="/articles/list")
                thead(data-thead-classes="thead-light")
                    tr 
                        th(data-field="_id") id
                        th(data-field="title" ) 标题
                        th(data-field="description" ) 说明
                        th(data-field="content" ) 文章内容
                        th(data-field="recommend" data-formatter="onFomatterRecommend") 是否推荐
                        th(data-field="illustration" ) 文章配图
                        th(data-field="recommendPicture" data-formatter="onFormateRecommendPic") 推荐图
                        th(data-formatter="onOperationOptions" data-events="operationEvents") 操作
                    tbody 
block append script
    script(src="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table.min.js") 
    script(src="/lib/kendo.all.min.js") 
    script(src="/js/admin/articles.js") 